.container {
  display: flex;
  gap: 2rem;
  width: 100vw;
  justify-content: center;
}

.box {
  width: 4rem;
  height: 4rem;
  border: 1rem solid var(--black);
  margin-top: 2rem;
  box-shadow: -1rem 1rem var(--black);
  cursor: pointer;
  transition: 0.1s;
}

.box:hover {
  box-shadow: none;
  background-color: var(--blue);
}

.active {
  background-color: var(--blue);
  width: 4rem;
  height: 4rem;
  border: 1rem solid var(--black);
  margin-top: 2rem;
}
