.item {
  font-size: 1.4rem;
  font-family: lores-12;
  line-height: 100%;
  font-weight: 700;
}
.container {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  max-width: 38rem;
}

.box {
  background-color: var(--white);
  width: 4rem;
  height: 4rem;
  border: 1rem solid var(--black);
  margin: 0 auto;
  margin-top: 2.5rem;
  box-shadow: -1rem 1rem var(--black);
  cursor: pointer;
  transition: 0.1s;
}
.box:hover {
  box-shadow: none;
  background-color: var(--blue);
}
.active {
  background-color: var(--blue);
  width: 4rem;
  height: 4rem;
  border: 1rem solid var(--black);
  margin: 0 auto;
  margin-top: 2.5rem;
}
