.form__register-container,
.form__login-container {
  margin-top: 20%;
  margin-left: 8rem;
}

.form__login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.label__wrapper {
  display: flex;
  flex-direction: column;
}

.auth__wrapper-login{
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  gap: 2rem;
}

.auth__wrapper-register{
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form__generateLink {
  margin-top: 3rem;
}

.flex-horizontal {
  display: flex;
}

.form__login-alreadyRegistered {
  margin-top: 2rem;
  letter-spacing: 0;
}
