.nav__dashboard {
  background-color: var(--yellow);
  height: 100vh;
  width: 20rem;
  background: var(--yellow);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
  position: relative;
}

.nav__dashboard__list {
  position: absolute;
  right: -10rem;
  margin-left: 5rem;
  margin-top: 17rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  grid-row-gap: 1rem;
}
.nav__dashboard__list-item {
  padding: 15px 25px;
  border: 1rem solid var(--black);
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--white);
}
.nav__dashboard__list-item:hover {
  color: var(--white);
  background-color: var(--blue);
  box-sizing: border-box;
  /* HardBlackShadow */
  box-shadow: -10px 9px 0px var(--black);
}
.nav__dashboard__list-item:last-child {
  background-color: var(--red);
  color: var(--white);
}
.nav__dashboard__list-signOff {
  grid-row-start: 14;
}

.nav__dashboard-active {
  background: var(--blue);
  color: var(--white);
  /* Primary / Dark */
  transition: all 0.3s ease;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 37.2rem 1fr;
  padding-right: 18rem;
}

.dashboard-newgame {
  margin-top: 6.7rem;
}
.dashboard-newgame .h2 {
  letter-spacing: 0;
}
.dashboard-newgame-welcome {
  letter-spacing: 0;
}
.newGame-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.newGame-input-container input {
  max-width: 40rem;
  outline: none;
  border: none;
  padding: 0.5rem;
  border-bottom: 0.2rem solid var(--black);
  font-family: Poppins;
}

.newGame-students-button {
  background-color: var(--blue);
  height: 4rem;
  min-width: 16rem;
  outline: none;
  border: 0.2rem solid var(--black);
  cursor: pointer;
  font-family: Lores-12;
  color: var(--yellow);
}
.newGame-students {
  margin-left: 2rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  grid-column-gap: 4rem;

  overflow-y: scroll;
}
.newGame-student-item {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}
.newGame-students-form {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
}
.newGame-students-form-input {
  width: 100% !important;
}
.newGame-link-container {
  margin-top: 9rem;
  display: flex;
}
.newGame-link-container .link-box {
  border: 0.3rem solid var(--black);
}
.newGame-link-container .link-box:first-child {
  max-width: 40.7rem;
  margin-right: 2rem;
}
.newGame-link-container .link-box:nth-child(2) {
  max-width: 50%;
  margin-right: 2rem;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  transition: all 0.3s ease;
}
.newGame-link-container .link-box:nth-child(3) {
  max-width: 50%;
  color: var(--black);
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
}
.newGame-link-container .link-box:nth-child(3):hover,
.newGame-link-container .link-box:nth-child(2):hover {
  box-sizing: border-box;
  /* HardBlackShadow */
  box-shadow: -10px 9px 0px var(--black);
}
.newGame-link-container .link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem 1.95rem;
}

.dashboard-newgame .games-flex {
  display: flex;
  justify-content: space-between;
}
.dashboard-newgame .games-flex .button-primary-blue {
  box-shadow: none;
  transition: all 0.3s ease;
}
.dashboard-newgame .games-flex .button-primary-blue:hover {
  box-shadow: -10px 9px 0px var(--black);
}
.overflow-y {
  overflow-y: scroll;
  height: 89vh;
}
.dashboard-game-subtitle {
  margin-top: 5.5rem;
  margin-bottom: 1rem;
}
.dashboard-game-circle-containers {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-bottom: 7rem;
}
.dashboard-game-circle {
  width: 16.2rem;
  height: 16.2rem;
  border: 1rem solid var(--black);
  border-radius: 100%;
  margin-right: 1.5rem;
  box-shadow: -10px 9px 0px var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.dashboard-game-scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
}
.dashboard-game-scores .student-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.dashboard-game-scores .student-row p:last-child {
  color: var(--yellow);
}
.nav__grid {
  overflow-y: hidden;
}
