.background-yellow .title__m-bold {
  margin-bottom: 1.4rem;
}
.game-wrapper {
  max-width: 108rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8rem;
  z-index: 2;
}

.game__uploadimage {
  max-width: 108rem;
}
.button__game-upload,
.button__game-next {
  min-width: 20.7rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.game__upload-subtext {
  max-width: 40rem;
}
.game__followers-container {
  margin: 0 auto;
  margin-top: 5.3rem;
  text-align: center;
}
.game__followers-container h1 {
  font-size: 20rem;
}
.game__textBox {
  padding: 5rem;
  border: 1rem solid var(--black);
  background-color: var(--white);
  max-width: 87rem;
  margin: 0 auto;
}
.game__textBox-small {
  padding: 1rem 2rem;
  border: 1rem solid var(--black);
  background-color: var(--white);
  margin-bottom: 5rem;
}
.game__textBox .title__m-bold {
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}
.background-image {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.introduction {
  padding-top: 12.6rem;
}
.introduction .title__m-bold {
  margin-bottom: 2rem;
}
.introduction .text__m-normal {
  margin-bottom: 8.6rem;
}
.introduction--list {
  background-color: var(--yellow);
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  grid-column-gap: 10rem;
  padding-left: 21.6rem;
  padding-right: 21.6rem;
  background: var(--yellow);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.322) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
}

.onboarding-1 .title__m-bold {
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 19rem;
  margin-bottom: 2rem;
}
.onboarding-1 .text__m-normal {
  max-width: 60rem;
  margin: 0 auto;
}
.onboarding-1 .button__primary {
  position: absolute;
  margin: 0 auto;
  display: flex;
}
.onboarding-progress-container {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.onboarding-content-container {
  height: 33rem;
}

.progressbar_box {
  background-color: var(--white);
  width: 4rem;
  height: 4rem;
  border: 1rem solid var(--black);
  margin: 0 auto;
  margin-top: 2.5rem;
  box-shadow: -1rem 1rem var(--black);
  cursor: pointer;
  transition: 0.1s;
}
.progressbar_box:hover {
  box-shadow: none;
  background-color: var(--blue);
}
.progressbar_box--active {
  background-color: var(--blue);
  width: 4rem;
  height: 4rem;
  border: 1rem solid var(--black);
  margin: 0 auto;
  margin-top: 2.5rem;
  box-shadow: none;
}

.post__container {
  max-width: 44.5rem;
  padding: 5rem;
  border: 1rem solid var(--black);
  box-shadow: -1rem 1rem var(--black);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: -5rem;
}
.post__container:hover {
  transform: rotate(1deg);
}
.post__image--overflow {
  overflow: hidden;
  height: 34.5rem;
  width: 34.5rem;
  border: 1rem solid var(--black);
}
.post__comment__author {
  margin-top: 3rem;
}
.post__comment {
  border-radius: 0rem 2rem 2rem 2rem;
  border: 1rem solid var(--black);
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--white);
}
.section__post {
  display: flex;
  justify-content: center;
  align-items: center;
}
.post__comment__option {
  border-radius: 2rem 2rem 0rem 2rem;
  border: 1rem solid var(--black);
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--white);
  box-shadow: -1rem 1rem var(--black);
}
.post__comments__options--title {
  font-size: 3.6rem;
  font-family: lores-12;
  line-height: 100%;
  font-weight: 700;
  width: auto;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post__comments__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 44.5rem 1fr;
  grid-template-rows: 63rem;
  border: 1rem solid var(--black);
  box-shadow: -1rem 1rem var(--black);
}
.post__container__options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1.5rem;
  padding-left: 4rem;
  width: 100%;
  cursor: pointer;
  background: var(--yellow);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.322) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
}
.post__comment__option:hover {
  transform: translateY(30);
}
.post__comments__grid .post__container {
  margin-top: 0;
  border-left: 0;
  border-top: 0;
  border-bottom: none;
  box-shadow: none;
}
.post__comments__grid .post__container:hover,
.post__container__lesson:hover {
  transform: none;
}
.section__post__final .post__container {
  margin-top: -50rem;
}
.game__box__margin {
  margin-top: 10rem;
}
.post__container__lesson {
  padding: 2.5rem;
  margin: 0 auto;
}
.center-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list__window__container {
  background: var(--yellow);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.322) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 3rem;
}
.list__window__item {
  background-color: var(--white);
  box-shadow: -1rem 1rem var(--black);
  padding: 1.5rem 2.5rem;
  border: 1rem solid var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game__message__container {
  max-width: 49.3rem;

  background-color: var(--white);
  border: 1rem solid var(--black);
  position: relative;
}
.game__message__content {
  padding: 3rem 3rem;
}
.game__chat__container {
  border-top: 1rem solid var(--black);
  display: grid;
  grid-template-columns: 1fr 7.6rem;
  grid-template-rows: 7.6rem;
}
.game__chat__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  border-left: 1rem solid var(--black);
  box-sizing: content-box;
}
.game__chat__input {
  display: flex;
  align-items: center;
  padding-left: 4rem;
}
.game__message--link {
  color: var(--blue);
  cursor: pointer;
}
.game__chat--answer {
  cursor: pointer;
}
.game__message__profile {
  border: 1rem solid var(--black);
  position: absolute;
  left: -4rem;
  top: -4rem;
  width: 6rem;
  height: 6rem;
}
.game__message__quit {
  position: absolute;
  right: -3rem;
  top: -3rem;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border: 1rem solid var(--black);
}
.game__message__author {
  position: absolute;
  top: -4rem;
  left: 5rem;
}
.game__error__container {
  position: relative;
  width: 59.9rem;
  height: 37rem;
  margin-top: 6rem;
}
.game__error__item {
  position: absolute;
  width: 59.9rem;
  height: 37rem;
}
.game__day2__box {
  border: 1rem solid var(--black);
  background: var(--yellow);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.322) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0.1em, transparent 0.1em);
  background-size: 1em 1em;
  margin: 0 auto;
  padding: 5rem;
}
.game__day2__comment {
  padding: 3rem;
  background-color: var(--white);
  border-radius: 3rem 3rem 3rem 0rem;
  border: 1rem solid var(--black);
}
.game__day2__profile {
  position: relative;
  float: left;
  margin-top: 5rem;
}
.game__day2__profile__image {
  border: 1rem solid var(--black);
  width: 14.8rem;
  height: 14.8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game__day2__comment__left {
  margin-left: 20rem;
}
.game__day2__profile__name {
  position: absolute;
  left: 0;
  top: -4rem;
}
.game__day2__container:first-child {
  margin-bottom: 8rem;
}
.game__day2__container--hate {
  opacity: 0;
  scale: 0;
}
.game__day3__post {
  max-width: 34.5rem;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 1fr 6.3rem;
  border: 1rem solid var(--black);
  height: 40.8rem;
}
.game__day3__post p {
  padding: 2rem;
}
.game__day3__likes__container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1rem solid var(--black);
}
.game__day3__list {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 66rem;
  min-height: 50vh;
  align-items: center;
}
.game__day3__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.game__day3__list li:hover {
  transform: scale(1.1);
}
.game__day3__list li p {
  margin-top: 2rem;
}
.game__day3__buttons {
  margin: 0 auto;
  margin-top: 20rem;
}
.game__day3__buttons button {
  margin-right: 4rem;
}
.container {
  text-align: center;
  margin: 0 auto;
}
.message {
  background: #2c2c2c;
  color: #ebebeb;
  text-transform: uppercase;
  padding: 1rem;
}
.outer {
  background: var(--blue);
  margin-top: 6rem;
  display: inline-block;
  width: 46.7rem;
  border: 1rem solid var(--black);
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.6rem;
  box-shadow: -1rem 1rem var(--black);
}
.outer .lock {
  width: 7.6rem;
  height: 7.6rem;
  background: var(--white);
  border-right: 1rem solid var(--black);
  border-left: 1rem solid var(--black);
  border-top: 1rem solid var(--black);
  border-bottom: 1rem solid var(--black);
  z-index: 8;
  cursor: pointer;
  display: flex;
  position: absolute;
  left: -1rem;
  -webkit-transition: background 0.2s ease-out, left 0.3s ease-out;
  -moz-transition: background 0.2s ease-out, left 0.3s ease-out;
  -ms-transition: background 0.2s ease-out, left 0.3s ease-out;
  -o-transition: background 0.2s ease-out, left 0.3s ease-out;
  transition: background 0.2s ease-out, left 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer p {
  color: var(--white);
}
.outer .lock.dragging {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.outer.unlocked {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
}
.outer.unlocked .lock {
  background: #24cf02;
  cursor: none;
}
