@import "./reset.css";
@import "./vars.css";
@import "./teacher.css";
@import "./styles.css";
@import "./loadingbar.css";
@import "./cursor.css";
@import "./navbar.css";
@import url("https://use.typekit.net/eqy4ipd.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  position: relative;
}

body {
  font-family: Poppins;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.exercise-form-start {
  margin: 0 auto;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#__next {
  height: 100%;
}

.exercise-form-start h1 {
  text-align: center;
}
.game__personal-form {
  text-align: center;
  height: 100vh;
}

.exercise-form-first {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-nav {
  background-color: lightblue;
}
