@import "./reset.css";
@import "./teacher.css";
@import "./styles.css";
@import "./loadingbar.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.exercise-form-start {
  margin: 0 auto;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#__next {
  height: 100%;
}

.exercise-form-start h1 {
  text-align: center;
}
.game__personal-form {
  text-align: center;
  height: 100vh;
}

.exercise-form-first {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-nav {
  background-color: lightblue;
}
