@media only screen and (max-width: 1200px) {
    
    .nav-container {
        width: 90vw;
    }

    .header__content {
        width: 90vw;
        
    }

    .footer__wrapper {
        width: 90vw;
    }

    .car__container {
        width: 90vw;
        margin: 0 auto;
    }
    
    .info__container-1 {
        width: 80vw;
    }

    .info__container-2 {
        width: 80vw;
    }

    .info__container-3 {
        width: 80vw;
    }

    .info__container-4 {
        width: 80vw;
    }

    .info__container-5 {
        width: 80vw;
    }

    .header__img {
        display: none;
    }

    .header__box {
        margin-top: 10rem;
    }

    .image__lightning{
        right: 5%;
        transform: scale(0.9);
    }
    
}

@media only screen and (max-width: 960px) {

    .title__l-bold {
        font-size: 5rem;
      }

    .title__m-bold {
        font-size: 4rem;
    }

    .box__shadow{
        box-shadow:
        -2rem -2rem 0rem -1rem var(--white), 
        -3rem -3rem 0rem -1rem var(--black),
        -2rem -2rem 0rem 0rem var(--black);
      }

    .car__container {
        width: 90vw;
        margin: 0 auto;
    }

    .header__intro {
        padding: 3rem;
        margin-bottom: 2rem;
    }

    .spacer__s {
        height: .5rem;
    }

    .header__box {
        margin-top: 10rem;
    }

    .image__love {
        transform: scale(0.8) rotate(15deg);
        right: 20%;
    }

    .image__lightning{
        right: 0;
        transform: scale(0.7);
    }

    .nav__dashboard-container{
        width: 100vw;
        height: 5rem;
        position: relative;
        bottom: 0;
    }

    .dashboard-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 1fr;
        height: 100vh;
        overflow: hidden;
    }

    .nav__dashboard-list {
        justify-content: space-between;
        flex-direction: row;
        height: auto;
        width: 90vw;
    }

    .nav__dashboard-top {
        flex-direction: row;
    }

    .nav__dashboard-button {
        margin-right: 0rem;
    }

    .nav__dashboard-cancel {
        margin-top: 5rem;
    }

    .dashboard__wrapper {
        margin-top: 0rem;
        margin-right: 0rem;
        height: 100vh;
        width: 90vw;
        margin: 0 auto;
        padding-right: 0rem;
    }

    .nav__dashboard-full {
        width: auto;
    }

    .games__wrapper {
        margin-top: 5rem;
    }
    
}

@media only screen and (max-width: 640px) {

    .header__content {
        width: 90vw;
    }

    .button__secondary-home {
        display: none;
    }

    .text__m-bold {
        font-size: 1.8rem;
        line-height: normal;
      }
      
    .text__m-normal {
        font-size: 1.8rem;
        line-height: normal;
    }

    .title__l-bold {
        font-size: 4rem;
    }

    .title__s-bold {
        font-size: 1.4rem;
    }

    .title__m-bold {
        font-size: 3.6rem;
    }

    .image__love {
        right: 10%;
    }

    .car__info {
        padding: 0rem;
        padding-top: 2rem;
    }
    
    .image__arrowDown {
        display: none;
    }

    .image__lightning{
        right: 0;
        transform: scale(0.4);
        margin-top: -30rem;
        margin-right: -5rem;
    }

    .image__love {
        transform: scale(0.7) rotate(15deg);
    }

    .header__box {
        margin-top: 8rem;
    }

    .info__container-5 {
        padding-bottom: 10rem;
    }

    .info__container-2 {
        padding-bottom: 10rem;
    }

    .slick-dots li {
        width: 2rem !important;
        height: 2rem !important;
    }

    .slick-dots li button{
        width: 2rem !important;
        height: 2rem !important;
    }

    .button__cancel {
        font-size: 1.4rem;
    }

    .button__secondary {
        font-size: 1.4rem;
    }

    .button__primary {
        font-size: 1.4rem;
    }

    .nav__dashboard-container{
        width: 100vw;
        height: 10rem;
        position: fixed;
        z-index: 1000;
    }

    .dashboard-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100vh;
        overflow: hidden;
    }

    .nav__dashboard-list {
        justify-content: space-between;
        flex-direction: row;
        height: auto;
        width: 90vw;
    }

    .nav__dashboard-top {
        flex-direction: row;
        margin-top: 0rem;
        width: 100%;
        justify-content: space-between;
    }

    .nav__dashboard-button {
        margin-right: 0rem;
    }

    .nav__dashboard-full {
        width: 100%;
    }

    .nav__dashboard-cancel {
        margin-top: 0rem;
        top: 2rem;
        right: 2rem;
        position: fixed;
    }

    .dashboard__wrapper {
        padding-top: 10rem;
        margin-top: 0rem;
        margin-right: 0rem;
        height: 100vh;
        width: 90vw;
        margin: 0 auto;
        padding-right: 0rem;
    }

    .game__info {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        align-items: flex-end;
        gap: 2rem;
    }

    .newgame__container {
        margin-bottom: 5rem;
    }

    .game__top {
        padding-left: 2rem;
    }

    .game__info {
        padding: 2rem;
    }

    .game__info-new {
        padding: 2rem;
    }
    
}

@media only screen and (max-width: 400px) {
    
    .button__primary-home {
        align-self: center;
        justify-self: center;
        width: 100%;
    }

    .image__love {
        transform: scale(0.7) rotate(15deg);
    }
    
}