/*
/////////////////
/////////////////
*/
.h1 {
  font-size: 7.2rem;
  font-family: lores-12;
  line-height: 100%;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
.h2 {
  font-size: 4.8rem;
  font-family: lores-12;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.p-big {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
  font-weight: 600;
}
.p {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  line-height: 3.6rem;
  font-weight: 400;
}
.p-small {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  line-height: 2.1rem;
  font-weight: 400;
}

/*
/////////////////
/////////////////
*/

.background-yellow {
  background-color: var(--yellow);
}

.stretch-container {
  width: 100%;
  height: 100%;
}

/*
/////////////////
/////////////////
*/

.label-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.input-margin {
  margin-bottom: 0.5rem;
}
.form__auth--button {
  padding: 0.5rem 1.5rem;
}
.nav--item {
  font-size: 1.8rem;
  font-weight: 600;
}

.alignVertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction-container {
  text-align: center;
}
.introduction {
  height: 100%;
}
.wrapper {
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}
.nav {
  margin-top: 2rem;
  width: 100%;
}
.nav__list {
  width: 100%;
}
.nav__list .nav__list__item:last-child {
  float: right;
  text-align: right;
}
.form__register-container,
.form__login-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.form__register,
.form__login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.form__generateLink {
  margin-top: 3rem;
}
