.h1 {
  font-size: 4.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.nav--item {
  font-size: 1.8rem;
  font-weight: 600;
}

.alignVertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introduction-container {
  text-align: center;
}
.introduction {
  height: 100%;
}
.wrapper {
  max-width: 120rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav {
  margin-top: 2rem;
  width: 100%;
}
.nav__list {
  width: 100%;
}
.nav__list .nav__list__item:last-child {
  float: right;
  text-align: right;
}
